#assignUserWindow, #delConfirmWindow, #processWindow, .window{ 
	width:400px; 
	background-color:#d0def0; 
	position:absolute; 
	padding:2px; 
	margin:5px; 
	display:none; 
} 

.content{ 
	height:auto !important;
	height:80px; 
	background-color:#FFF; 
	font-size:14px; 
	overflow:auto; 
} 

.content table {
	margin-top:10px;
}

.content table tr {
	line-height:25px;
}
			
.title{ 
	padding:2px; 
	color:#0CF; 
	font-weight:bold;
	font-size:14px; 
}
 
.title img{ 
	float:right; 
}

.running {
	background: url(../image/running.gif) no-repeat left;
}

.stop {
	background: url(../image/stop.gif) no-repeat left;
}

.wait {
	background: url(../image/wait.png) no-repeat left;
}

.procStatus {
	text-align:left;
}

.executing {
	background: url(../image/loding.gif) no-repeat left;
	width: 50px;
	display: block;
}