<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jun.xiaoquren.persistence.DocumentEvaluationMapper" >
  <resultMap id="BaseResultMap" type="com.jun.xiaoquren.model.DocumentEvaluation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="document_id" property="documentId" jdbcType="BIGINT" />
    <result column="document_type" property="documentType" jdbcType="VARCHAR" />
    <result column="evaluation_type" property="evaluationType" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, document_id, document_type, evaluation_type, nickname, deleted, version, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from document_evaluation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from document_evaluation
  </select>
  <select id="selectByDocumentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from document_evaluation
    where document_id = #{documentId,jdbcType=INTEGER} 
    order by create_date
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from document_evaluation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jun.xiaoquren.model.DocumentEvaluation" >
    insert into document_evaluation (document_id, document_type, 
      evaluation_type, nickname, deleted, 
      version, create_date)
    values (#{documentId,jdbcType=BIGINT}, #{documentType,jdbcType=VARCHAR}, 
      #{evaluationType,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{version,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jun.xiaoquren.model.DocumentEvaluation" >
    insert into document_evaluation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="documentId != null" >
        document_id,
      </if>
      <if test="documentType != null" >
        document_type,
      </if>
      <if test="evaluationType != null" >
        evaluation_type,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="documentId != null" >
        #{documentId,jdbcType=BIGINT},
      </if>
      <if test="documentType != null" >
        #{documentType,jdbcType=VARCHAR},
      </if>
      <if test="evaluationType != null" >
        #{evaluationType,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jun.xiaoquren.model.DocumentEvaluation" >
    update document_evaluation
    <set >
      <if test="documentId != null" >
        document_id = #{documentId,jdbcType=BIGINT},
      </if>
      <if test="documentType != null" >
        document_type = #{documentType,jdbcType=VARCHAR},
      </if>
      <if test="evaluationType != null" >
        evaluation_type = #{evaluationType,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jun.xiaoquren.model.DocumentEvaluation" >
    update document_evaluation
    set document_id = #{documentId,jdbcType=BIGINT},
      document_type = #{documentType,jdbcType=VARCHAR},
      evaluation_type = #{evaluationType,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      version = #{version,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>