<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!-- Scan for spring annotated components -->
    <context:component-scan base-package="com.jun.xiaoquren"/>
    
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">  
                    <property name="supportedMediaTypes">  
                        <list>  
                            <value>text/plain;charset=UTF-8</value>  
                        </list>  
                    </property>  
                </bean>  
                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">  
                    <property name="supportedMediaTypes">  
                        <list>  
                            <value>application/json;charset=UTF-8</value>  
                        </list>  
                    </property>  
                </bean>
            </list>  
        </property>  
    </bean>  

    <!-- Process annotations on registered beans like @Autowired... -->
    <context:annotation-config/>
    
    <!-- 
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">  
                    <property name="supportedMediaTypes">  
                        <list>  
                            <value>text/plain;charset=UTF-8</value>  
                        </list>  
                    </property>  
                </bean>  
                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />  
            </list>  
        </property>  
    </bean>  
     -->
    
    <!-- 
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
 		<property name="locations">  
           <list>  
              <value>classpath:constantsutil.properties</value>
              <value>classpath:db.properties</value>
              <value>classpath:jdbc.properties</value>
            </list>  
        </property>  
	</bean>
	
	<bean id="constantsUtil" class="com.socket.server.util.ConstantsUtil">
 		<property name="agentDownloadPath" value="${agent.download.path}"></property>
 		<property name="agentDownloadFilename" value="${agent.download.filename}"></property>
 		
	</bean>
 	-->
 	
 	<!-- ==============ACTIVE QUEUE START=============== -->
 	<!-- 配置JMS连接工厂 --><!-- 
    <bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.1.118:61616" />
    </bean>
    
     --><!-- 配置JMS模版 --><!-- 
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
    </bean>
    
     --><!-- 发送消息的目的地（一个队列） --><!-- 
    <bean id="requestDestination" class="org.apache.activemq.command.ActiveMQQueue">
    	--><!-- 设置消息队列的名字 --><!-- 
    	<constructor-arg index="0" value="requestQueue" />
    </bean>
    
     --><!-- 应答消息的目的地（一个队列） --><!-- 
    <bean id="replyDestination" class="org.apache.activemq.command.ActiveMQQueue">
    	 --><!-- 设置消息队列的名字 --><!-- 
    	<constructor-arg index="0" value="replyQueue" />
    </bean>
    
     --><!-- 消息生产者 --><!-- 
    <bean id="producer" class="com.jun.xiaoquren.activemq.Producer">
        <property name="jmsTemplate" ref="jmsTemplate" />
        <property name="requestDestination" ref="requestDestination" />
        <property name="replyDestination" ref="replyDestination" />
    </bean>
    
     --><!-- 消息消费者 --><!-- 
    <bean id="consumer" class="com.jun.xiaoquren.activemq.Consumer">
    	<property name="jmsTemplate" ref="jmsTemplate" />
    </bean>
    
     --><!-- 监听容器 --><!-- 
    <bean id="jmsContainerRequest" class="org.springframework.jms.listener.DefaultMessageListenerContainer">  
       <property name="connectionFactory" ref="connectionFactory" />  
       <property name="destination" ref="requestDestination" />  
       <property name="messageListener" ref="consumer" />  
   </bean>
   
     --><!-- 应答监听容器 --><!-- 
    <bean id="jmsContainerReply" class="org.springframework.jms.listener.DefaultMessageListenerContainer">  
       <property name="connectionFactory" ref="connectionFactory" />  
       <property name="destination" ref="replyDestination" />  
       <property name="messageListener" ref="producer" />  
   </bean> -->
   <!-- ==============ACTIVE QUEUE END=============== -->
   
   
   <!-- Topic -->  
   <!-- 配置JMS连接工厂 -->  
   <bean id="myConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">  
	   <!-- Session缓存数量 -->  
	   <property name="sessionCacheSize" value="10" />  
	   <property name="targetConnectionFactory">  
	       <bean class="org.apache.activemq.ActiveMQConnectionFactory">  
	           <!-- MQ地址 -->  
	           <property name="brokerURL" value="tcp://192.168.1.118:61616" />  
	            <!-- 是否异步发送 -->  
	            <property name="useAsyncSend" value="true" />  
	        </bean>  
	    </property>  
	</bean>  
	
	<!-- 发送消息的目的地（一个主题） -->  
	<bean id="myDestination" class="org.apache.activemq.command.ActiveMQTopic">  
	    <!-- 设置消息主题的名字 -->  
	    <constructor-arg index="0" value="OnlineNoticeTopic." />  
	</bean>  
	
	<!-- 配置JMS模版 -->  
	<bean id="myJmsTemplate" class="org.springframework.jms.core.JmsTemplate">  
	    <property name="connectionFactory" ref="myConnectionFactory" />  
	    <property name="defaultDestination" ref="myDestination" />  
	    <!-- 订阅发布模式 -->  
	    <property name="pubSubDomain" value="true" />  
	    <property name="receiveTimeout" value="10000" />  
	</bean>  
 
   <bean id="messageConverter" class="org.springframework.jms.support.converter.SimpleMessageConverter">
   </bean>
   
</beans>